* {
  box-sizing: border-box;
}
.body {
  margin: 0;
  height: 500px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50%;
  max-width: 500px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  margin: 20px auto;
}

.usuario-input,
.contrasena-input {
  padding: 15px 10px;
  margin: 10px 0;
  height: 20px;
  font-size: 14px;
}

.btn-login {
  background-color: #ffdd00;
  width: 80px;
  padding: 15px 10px;
  text-align: center;
  border: 1px solid #ffdd00;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px auto;
}

.btn-login:hover {
  background-color: #f3d300;
}

.show {
  width: 120px;
  padding: 15px 10px;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px auto;
}
