<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="list.css">
    <script src="list.js"></script>
    <title>Document</title>
</head>
<body>
    <label>Lista de Usuarios</label>
    <table class="">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Clave</th>
          </tr>
        </thead>
        <tbody class="conteiner">
          
        </tbody>
      </table>
</body>
</html>