USE [master]
GO
/****** Object:  Database [Login]    Script Date: 6/16/2022 1:50:35 PM ******/
CREATE DATABASE [Login]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Login', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Login.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Login_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Login_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Login].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Login]
GO
/****** Object:  Table [dbo].[login]    Script Date: 6/16/2022 1:50:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[id_user] [int] NOT NULL,
	[name_user] [varchar](50) NOT NULL,
	[lastn_user] [varchar](50) NOT NULL,
	[email_user] [varchar](50) NOT NULL,
	[password_user] [varchar](50) NOT NULL,
	[age_user] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[id_rol] [int] NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[login] ([id_user], [name_user], [lastn_user], [email_user], [password_user], [age_user], [status], [id_rol]) VALUES (123456789, N'andres', N'vasco', N'an@gmail.com', N'12345', 27, N'soltero', 1)
INSERT [dbo].[login] ([id_user], [name_user], [lastn_user], [email_user], [password_user], [age_user], [status], [id_rol]) VALUES (1719101535, N'richard', N'santillan', N'richsan@gmail', N'12345', 25, N'soltero', 1)
GO
USE [master]
GO
