<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <title>Login</title>
</head>
<body>
    <img class="image" src="banco-pichincha-logo.png">
    <form id="form-login" action="..\list\list.html" method="post">
        <div class="conteiner">
            <h4>Bienvenido</h4>
                <div id="conteiner_user" class="conteiners">
                    <label>Usuario</label>
                    <input class="conteiner-input" id="input-user" type="text" name="nombreUsuario" >
                    <p class="input-error"></p>
                </div>
                <div id="conteiner_password" class="conteiners">
                    <label>Contraseña</label>
                    <input class="conteiner-input" id="input-password" type="text" name="contraseniaUsuario" >
                    <p class="input-error"></p>
                </div>
                <div>
                    <button type="submit" class="conteiner-button">Ingresar</button>
                </div>
            
        </div>
    </form>
    
</body>
</html>